@import '~bootstrap/scss/bootstrap.scss'


.desktop-only
  @include media-breakpoint-down(lg)
    display: none !important
.mobile-only
  @include media-breakpoint-up(xl)
    display: none !important

.noselect
  -webkit-touch-callout: none  /* iOS Safari */
  -webkit-user-select: none    /* Safari */
  -khtml-user-select: none     /* Konqueror HTML */
  -moz-user-select: none       /* Firefox */
  -ms-user-select: none        /* Internet Explorer/Edge */
  user-select: none            /* Non-prefixed version, currently supported by Chrome and Opera */

.abs-cover
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0

.def-img
  background-repeat: no-repeat
  background-position: center
  background-size: cover

.d-flex-polyfill
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

.flex-grow-1-polyfill
  -webkit-box-flex: 1
  -moz-box-flex: 1
  // height: 20%
  -webkit-flex: 1
  -ms-flex: 1
  flex: 1

.button
  @extend .noselect
  padding: 0
  cursor: pointer
  outline: none
  border: none
  background-color: rgba(0, 0, 0, 0)
  &:disabled
    opacity: .25
    cursor: not-allowed

.Link
  display: inline
  cursor: pointer
  color: $dark
  text-decoration: none
  &:hover
    color: $dark
    text-decoration: none


@function rem($px)
  @return calc(#{$px} / 16 * 1rem)

.default-font
  font-size: rem(21)
  @include media-breakpoint-down(lg)
    font-size: rem(18)

.small
  font-size: rem(16)
  color: inherit
  @include media-breakpoint-down(lg)
    font-size: rem(14)

// COLORS
$dark: #474747
$light: white
$background: #FBF7EE
$preview-background: #1C1C1C

$spb: #7C81FF
$spb-highlight: #4056A1
$gen: #D084FF
$gen-highlight: #00887A

$menu-transition: .2s
$border: 1px solid $dark



*
  font-family: Arial, Helvetica, sans-serif
  color: $dark
  margin: 0
  padding: 0
  box-sizing: border-box
  -webkit-font-smoothing: antialiased

.App
  overflow: hidden
  width: 100%
  height: 100%
  @extend .default-font
  position: relative

.Map
  width: 100%
  height: 100%
  overflow: hidden
  position: absolute
  top: 0
  left: 0
  z-index: 1
  outline: none
  &--current
    z-index: 5
  &__zoom
    @extend .desktop-only
    @extend .button
    background-color: $light
    border: $border
    width: rem(50)
    height: rem(50)
    position: absolute
    z-index: 100
    right: rem(20)
    font-size: rem(35)
    line-height: rem(50)
    &--in
      bottom: rem(90)
    &--out
      bottom: rem(20)
      line-height: rem(38)

.Menu
  @extend .abs-cover
  z-index: 10
  width: 0
  height: 0
  *
    @extend .noselect
  &__header
    cursor: pointer
    position: absolute
    background-color: $light
    border: $border
    width: rem(334)
    max-width: rem(334)
    height: rem(50)
    line-height: rem(50)
    top: rem(50)
    left: rem(50)
    @include media-breakpoint-down(lg)
      width: calc(100vw - 40 / 16 * 1rem)
      top: rem(20)
      left: rem(20)
    @media screen and ( max-width: 350px )
      width: calc(100vw - 16 / 16 * 1rem)
      left: rem(8)
    @extend .d-flex-polyfill
    @extend .flex-row
    &__logo
      @extend .flex-grow-1-polyfill
      padding-left: rem(15)
    &__burger
      width: rem(50)
      height: rem(50)
      background-image: url('./img/burger.svg')
      @extend .def-img
    &__switcher
      width: rem(77)
      overflow: hidden
      border-left: $border
      position: relative
      &__container
        position: absolute
        @extend .d-flex-polyfill
        @extend .flex-row
        height: 100%
        right: 0
        transition: right $menu-transition
        &--lang
          right: rem(-77)
        &__lang,
        &__city
          width: rem(77)
          height: 100%
          text-align: center
        &__city
          border-left: $border
          transition: background-color $menu-transition
          &--spb
            background-color: $spb
          &--gen
            background-color: $gen
  &__content
    min-height: 100vh
    width: rem(432)
    background-color: $light
    @extend .d-flex-polyfill
    @extend .flex-column
    overflow-y: scroll
    @include media-breakpoint-down(lg)
      width: 100vw
    transition: width $menu-transition
    &:not(&--opened)
      overflow: hidden
      width: 0
    position: relative
    box-shadow: 0 4px 25px rgba(71, 71, 71, .1)
    overflow-x: hidden
    &__container
      width: 100vw
      height: 100vh
      @extend .d-flex-polyfill
      @extend .flex-column
      &__links
        padding-top: rem(120)
        padding-left: rem(65)
        @include media-breakpoint-down(lg)
          padding-top: rem(93)
          padding-left: rem(36)
        @media screen and ( max-width: 350px )
          padding-left: rem(24)
        @extend .d-flex-polyfill
        @extend .flex-column
        @extend .flex-grow-1-polyfill
        @extend .align-items-start
        a
          line-height: rem(28)
          &:not(&:last-of-type)
            margin-bottom: rem(10)
        &__item
          position: relative
          padding-left: rem(33)
          &::before
            content: ''
            position: absolute
            top: 50%
            transform: translateY(-50%)
            left: 0
            width: rem(23)
            height: rem(23)
            border-radius: 500px
            background-color: $dark
          &:hover
            text-decoration: underline
          &--spb:hover
            color: $spb
            &::before
              background-color: $spb
          &--gen:hover
            color: $gen
            &::before
              background-color: $gen
  .dropdown
    text-transform: lowercase
  &--hide
    @include media-breakpoint-down(lg)
      display: none


.Footer
  background-color: $dark
  width: rem(432)
  min-height: rem(155)
  padding: rem(25) rem(49) rem(25) rem(49)
  margin-top: rem(49)
  @extend .d-flex-polyfill
  @extend .flex-column
  @extend .justify-content-between
  @extend .align-items-start
  @include media-breakpoint-down(lg)
    padding-left: rem(20)
    margin-top: rem(20)
  @media screen and ( max-width: 350px )
    padding-left: rem(16)
  &__logo
    width: rem(170)
    height: rem(32)
    @extend .def-img
    background-image: url(./img/logo.svg)
    &--eng
      width: rem(115)
      height: rem(32)
      margin-bottom: rem(-5)
      background-image: url(./img/logo_eng.svg)
  &__names,
  &__policy
    font-size: rem(12)
    color: $light
  &__policy
    text-decoration: underline
    &:hover
      color: $light !important
      text-decoration: underline



$dropdown-transition: .15s
.dropdown
  @extend .d-flex-polyfill
  @extend .flex-column
  @extend .align-items-start
  &__title
    cursor: pointer
    position: relative
    display: inline-block
    line-height: rem(28)
    margin-bottom: rem(10)
    @extend .d-flex-polyfill
    &__text
      @extend .flex-grow-1-polyfill
      @extend .noselect
      text-transform: lowercase
      &::after
        content: ''
        position: absolute
        top: 50%
        transform: translateY(-50%) rotate(180deg)
        right: rem(-33)
        width: rem(23)
        height: rem(23)
        background-image: url(./img/arrow-up-inline.svg)
        @extend .def-img
        .dropdown--opened &
          transform: translateY(-50%)
  &__content
    width: 100%
    overflow: hidden
    transition: height $dropdown-transition
    &__container
      padding-top: rem(10)
      padding-bottom: rem(20)
      width: 100%
      @extend .d-flex-polyfill
      @extend .flex-column


.Marker
  @extend .d-inline-flex
  @extend .flex-row
  transform: translate(rem(-25), rem(-25))
  &--secondary
    transform: translate(rem(-25), rem(-25)) scale(.7)
  transition: transform $menu-transition
  &__dot
    width: rem(50)
    height: rem(50)
    border-radius: 500px
    margin-right: rem(10)
    transition: width $menu-transition, height $menu-transition
    .Marker--spb &
      background-color: $spb
    .Marker--gen &
      background-color: $gen
  &--average
    transform: translate(rem(-20), rem(-20))
    &.Marker--secondary
      transform: translate(rem(-20), rem(-20)) scale(.7)
    .Marker__dot
      width: rem(40)
      height: rem(40)
  &--small
    transform: translate(rem(-15), rem(-15))
    &.Marker--secondary
      transform: translate(rem(-15), rem(-15)) scale(.7)
    .Marker__dot
      width: rem(30)
      height: rem(30)
  &__popup
    font-size: rem(20)
    position: absolute
    top: -100%
    left: rem(25)
    transform: translate(-50%, -20%)
    background-color: $light
    text-align: center
    padding: rem(5)
    white-space: nowrap
    opacity: 0
    transition: opacity $menu-transition
    &--show
      opacity: 1
    .Marker--average &,
    .Marker--small &
      display: none




.Player
  *
    text-transform: lowercase
  position: relative
  cursor: default
  height: rem(70)
  background-color: $light
  @extend .d-inline-flex
  @extend .flex-row
  transition: opacity $menu-transition
  &--compact
    height: rem(50)
    width: rem(350)
    @include media-breakpoint-down(lg)
      width: rem(280)
  &--hidden
    display: none !important
  &--hide-controls
    padding-left: rem(10)
    width: rem(70) !important
    opacity: .9
  &__controls
    @extend .d-flex-polyfill
    @extend .flex-column
    @extend .align-items-center
    .Player--compact &
      @extend .flex-row
    &__button
      @extend .button
      width: rem(50)
      height: rem(50)
      @extend .def-img
      background-image: url(./img/play.svg)
      &--isPlaying
        background-image: url(./img/pause.svg)
      &:disabled
        opacity: .5
    &__time
      line-height: 1
      &:not(.Player--compact &)
        font-size: rem(12)
        transform: translateY(rem(-5))
      .Player--compact &
        @extend .default-font
        padding-right: rem(7)
        margin-right: rem(8)
        line-height: rem(50)
        position: relative
        padding-top: rem(1)
        &::after
          content: ''
          position: absolute
          top: rem(18)
          right: rem(-1)
          width: rem(2)
          height: rem(17)
          background-color: $dark
  &__text
    @extend .d-flex-polyfill
    @extend .flex-column
    @extend .align-items-start
    .Player--compact &
      @extend .d-none
    &__title
      @extend .default-font
      line-height: rem(28)
      margin-top: rem(11)
      margin-bottom: rem(4)
      text-overflow: ellipsis
      white-space: nowrap
    &__artist
      font-size: rem(14)
      line-height: 1
      white-space: nowrap
  &__ticker
    &:not(.Player--compact &)
      @extend .d-none
    @extend .flex-grow-1-polyfill
    height: rem(50)
    @extend .default-font
    line-height: rem(50)
  &__arrow
    width: rem(50)
    height: rem(50)
    @extend .def-img
    background-image: url(./img/arrow-up.svg)
    transform: rotate(90deg)
    cursor: pointer
  &__bar
    position: absolute
    left: 0
    bottom: 0
    width: 0
    height: rem(4)
    background-color: $dark
    z-index: 20




.BigMenu
  position: fixed
  z-index: 10
  top: 0
  right: 0
  overflow: hidden
  background-color: $background
  @include media-breakpoint-down(lg)
    transition: width $menu-transition
    width: 0
    height: 100vh
    overflow-y: scroll
  @include media-breakpoint-up(xl)
    transition: height $menu-transition
    width: 100vw
    height: 0
  &--opened
    width: 100vw
    height: 100vh
  &--long
    overflow-y: scroll
    .BigMenu__content__container
      padding: 0 !important
  &__content
    @extend .d-flex-polyfill
    @extend .flex-column
    width: 100vw
    @include media-breakpoint-up(xl)
      height: 100vh
      .BigMenu--long &
        height: auto
    @include media-breakpoint-down(lg)
      min-height: 100%
    &__header
      width: 100%
      height: rem(90)
      @include media-breakpoint-up(xl)
        height: rem(117)
        &__close
          cursor: pointer
          position: absolute
          top: rem(49)
          right: rem(49)
          width: rem(50)
          height: rem(50)
          background-color: $light
          background-image: url(./img/cross.svg)
          background-position: center
          background-repeat: no-repeat
          border: $border
      .BigMenu--long &
        position: fixed
        top: 0
        right: 0
        z-index: 15
        width: 0
        height: 0
    &__container
      @extend .flex-grow-1-polyfill
      width: 100%
      padding-left: rem(49)
      padding-right: rem(49)
      padding-bottom: rem(80)
      overflow-y: scroll
      @include media-breakpoint-down(lg)
        padding-left: rem(21)
        padding-right: rem(21)
      @media screen and ( max-width: 350px )
        padding-left: rem(9)
        padding-right: rem(8)
      .BigMenu--long &
        @extend .d-flex-polyfill
        @extend .flex-column
        padding-top: rem(90)
        @include media-breakpoint-up(xl)
          overflow: hidden
          padding-top: rem(117)



.Artist
  width: 100%
  @include media-breakpoint-up(xl)
    height: 100%
  &__content
    width: 100%
    height: 100%
    @extend .d-flex-polyfill
    @extend .flex-xl-row
    @extend .flex-column-reverse
    border: $border
    margin-left: rem(1)
    @include media-breakpoint-down(lg)
      border-bottom: 0
      margin-left: rem(-1)
      width: calc(100% + 1px)
    &__text
      @include media-breakpoint-up(xl)
        width: 50%
        max-width: rem(601)
        border-right: $border
        height: 100%
      @extend .d-flex-polyfill
      @extend .flex-xl-column
      @extend .flex-column-reverse
      &__dropdowns
        @extend .flex-lg-grow-1
        position: relative
        &__container
          @extend .d-flex-polyfill
          @extend .flex-column
          position: relative
          @include media-breakpoint-up(xl)
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
          .dropdown
            position: relative
            z-index: 9
            border-bottom: $border
            &--opened
              @extend .flex-lg-grow-1
            &__title
              width: 100%
              border-bottom: $border
              line-height: rem(50)
              margin-bottom: 0
              background-color: $background
              @extend .d-flex-polyfill
              @extend .flex-row
              &__text
                @extend .flex-grow-1-polyfill
                @extend .noselect
                padding-left: rem(13)
                position: relative
                text-transform: lowercase
                &::after
                  right: rem(14)
              &__city
                width: rem(77)
                text-align: center
                border-left: $border
                &--spb
                  background-color: $spb
                &--gen
                  background-color: $gen
            &__content
              margin-top: -1px
              padding-left: rem(15)
              padding-right: rem(15)
              overflow-y: scroll
              line-height: 1.25
              &__container
                hyphens: auto
                .Link
                  text-decoration: underline !important
            

      .Player
        width: 100%
        @include media-breakpoint-down(lg)
          border-top: $border
          border-bottom: $border
    &__map
      @extend .flex-grow-1-polyfill
      @include media-breakpoint-down(lg)
        // height: rem(334)
        padding-top: 100%
        width: 100%
      position: relative
      overflow: hidden
      

.Img
  transition: opacity $menu-transition
  &--hidden
    opacity: 0
  &__img
    &--portrait
      width: 100%
      height: auto
    &--landscape
      width: auto
      height: 100%

.Img--artist,
.Animation
  @extend .Img
  @extend .abs-cover
  overflow: hidden
  .Img__img
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
  &::after
    content: ''
    @extend .abs-cover







.About
  @extend .d-flex-polyfill
  @extend .flex-xl-row
  @extend .flex-column
  @extend .justify-content-between
  height: 100%
  @include media-breakpoint-down(lg)
    margin-left: rem(-1)
  &__first-block,
  &__second-block
    width: calc(50% - 10px)
    height: 100%
    @include media-breakpoint-down(lg)
      width: 100%
      height: auto
      margin-bottom: rem(20)
    border: $border
    background-color: $light
  &__first-block
    padding: rem(11) rem(14) rem(19)
    @extend .d-flex-polyfill
    @extend .flex-column
    @extend .justify-content-between
    @include media-breakpoint-down(lg)
      padding: rem(12) rem(14) rem(10)
      &__title
        margin-bottom: rem(150)
  &__second-block
    @extend .d-flex-polyfill
    @extend .flex-column
    @include media-breakpoint-down(lg)
      padding: rem(18) rem(14) rem(21)
    @media screen and ( max-width: 350px )
      padding: rem(18) rem(14) rem(8)
    &__title
      width: 100%
      height: rem(50)
      line-height: rem(50)
      @include media-breakpoint-up(xl)
        padding-left: rem(15)
        border-bottom: $border
      @include media-breakpoint-down(lg)
        margin-bottom: rem(150)
    &__columns
      width: 100%
      @extend .flex-grow-1-polyfill
      @extend .d-flex-polyfill
      @extend .flex-row
      &__item
        @extend .flex-grow-1-polyfill
        @extend .d-flex-polyfill
        @extend .flex-column
        position: relative
        &__row
          width: 100%
          height: rem(50)
          line-height: rem(50)
          @include media-breakpoint-up(xl)
            padding-left: rem(15)
          &:not(&:last-child)
            @include media-breakpoint-up(xl)
              border-bottom: $border
          &:last-child  
            bottom: 0
            left: 0
            position: absolute
            width: 100%
            height: rem(100)
            @extend .desktop-only
        &:first-of-type
          @include media-breakpoint-up(xl)
            border-right: $border
          .About__second-block__columns__item__row
            &:nth-child(1)
              height: rem(100)
  &__third-block
    width: 100%
    border: $border
    background-color: $light
    @extend .mobile-only
    padding: rem(10) rem(14) rem(16)
    &__title
      margin-bottom: rem(150)
  &__logo
    display: block
    width: calc(100% - 24px)
    padding-top: calc((100% - 24px) / 267 * 41)
    @include media-breakpoint-down(lg)
      width: 100%
      padding-top: calc(100% / 267 * 41)
    background-image: url(./img/logo.svg)
    @extend .def-img


              
            
.Ticker
  overflow: hidden
  position: relative
  &__content
    @extend .d-flex-polyfill
    white-space: nowrap
    position: absolute
    top: 0
    font-size: inherit
    line-height: inherit




.Participate
  @extend .d-flex-polyfill
  @extend .flex-column
  @extend .flex-lg-row
  &__desc
    @extend .col
    @extend .px-0
    @extend .mb-5
    padding-right: rem(40) !important
  &__form
    @extend .col
    @extend .px-0
    &__submit
      @extend .button
      width: 100%
      height: rem(50)
      background-color: $dark
      margin-bottom: rem(10)
      color: $light
    &__agree
      width: 100%
    .Link
      text-decoration: underline !important



.form-group
  margin: 0
  &__input
    width: 100%
    border-radius: 0
    border: $border
    height: rem(50)
    line-height: rem(50)
    padding: 0 12px
    outline: none
  &:nth-child(2n)
    margin-bottom: rem(20)
    .form-group__input
      border-top: 0


.city-selector
  @extend .d-flex-polyfill
  @extend .flex-row
  width: 100%
  border: $border
  height: rem(50)
  line-height: rem(50)
  &__name
    @extend .flex-grow-1-polyfill
    @extend .noselect
    padding: 0 12px
    background-color: $light
  &__spb,
  &__gen
    @extend .noselect
    border-left: $border
    text-align: center
    cursor: pointer
    background-color: $background
    width: rem(145)
    @include media-breakpoint-down(sm)
      width: rem(83)
  &__spb--selected
    background-color: $spb
  &__gen--selected
    background-color: $gen



.Input__file
  @extend .button
  width: 100%
  border: $border
  height: rem(50)
  line-height: rem(50)
  padding: 0 12px
  content: ''
  &::file-selector-button
    width: 0.1px
    height: 0.1px
    opacity: 0
    overflow: hidden
    position: absolute
    z-index: -1




.Archive
  @extend .d-flex-polyfill
  @extend .flex-xl-row
  @extend .flex-column
  height: 100vh
  &__left
    @extend .d-flex-polyfill
    @extend .flex-column
    position: relative
    background-color: $background
    width: rem(433)
    border-right: $border
    padding: rem(117) rem(48) rem(124) rem(50)
    @include media-breakpoint-down(lg)
      border-right: none
      width: 100%
      height: 100%
      padding: rem(90) rem(21) rem(101) rem(20)
      position: fixed
      z-index: 12
      overflow-y: scroll
    @media screen and ( max-width: 350px )
      padding-left: rem(8)
      padding-right: rem(8)
  &__search
    z-index: 20
    @extend .d-flex-polyfill
    @extend .flex-row-reverse
    position: fixed
    bottom: rem(50)
    right: calc(100vw - #{rem(334)} - #{rem(50)})
    border: $border
    @include media-breakpoint-down(lg)
      bottom: rem(20)
      right: rem(21)
    @media screen and ( max-width: 350px )
      right: rem(8)
    &__magnifier
      z-index: 11
      position: relative
      @extend .button
      width: rem(50)
      height: rem(50)
      background-color: $light
      background-image: url(./img/magnifier.svg)
      border-left: $border
      background-position: 40% 40%
    &__browse
      @extend .noselect
      cursor: pointer
      height: rem(50)
      width: 0
      padding-left: 0
      transition: width $menu-transition, padding-left $menu-transition
      line-height: rem(50)
      background-color: $light
      overflow: hidden
      white-space: nowrap
      margin-right: rem(-1)
      .Archive__search--full &
        padding-left: rem(11)
        width: rem(284)
        @include media-breakpoint-down(lg)
          width: calc(100vw - #{rem(50)} - #{rem(42)})
        @media screen and ( max-width: 350px )
          width: calc(100vw - #{rem(50)} - #{rem(17)})
    &--tags
      .Archive__search__magnifier
        background-color: $dark
        background-image: url(./img/magnifier-white.svg)
    &--hide
      display: none
    &--hide-desktop
      @include media-breakpoint-up(xl)
        display: none
  &__right
    @extend .flex-grow-1-polyfill
    overflow-y: scroll
    @include media-breakpoint-down(lg)
      width: 100%
      height: 100%
      top: 0
      left: 0
      position: fixed
      &--visible
        &--desktop
          @include media-breakpoint-up(xl)
            z-index: 12
        &--mobile
          @include media-breakpoint-down(lg)
            z-index: 12
    &__desc
      display: none
      line-height: 1.25
      &--show
        @include media-breakpoint-up(xl)
          display: block
          width: 100%
          min-height: 100%
          padding: rem(122) rem(134)
          color: $light
          background-color: $dark
  &__about
    @extend .flex-grow-1-polyfill
    @extend .d-flex-polyfill
    @extend .flex-column
    @extend .justify-content-between
    border: $border
    padding: rem(20) rem(15)
    @include media-breakpoint-up(xl)
      display: none
  &__tags
    // @extend .abs-cover
    background-color: $light
    padding: rem(120) rem(50) rem(124)
    min-height: 100%
    @include media-breakpoint-down(lg)
      padding: rem(90) rem(20) rem(101)
    &__item
      text-transform: lowercase
      @extend .button
      display: inline-block
      border: $border
      border-radius: rem(100)
      line-height: rem(32)
      margin: 0 rem(5) rem(15) 0
      padding: 0 rem(23) 0 rem(8)
      position: relative
      &::after
        content: ''
        width: rem(10)
        height: rem(10)
        @extend .def-img
        background-image: url(./img/cross.svg)
        position: absolute
        top: rem(12)
        right: rem(8)
      &--selected
        background-color: $dark
        color: $light
        &::after
          background-image: url(./img/cross-white.svg)
  &__gallery
    @extend .d-flex-polyfill
    @extend .flex-row
    @extend .flex-wrap
    @extend .justify-content-between
    padding: rem(50)
    background-color: $dark
    min-height: 100%
    position: relative
    @include media-breakpoint-down(lg)
      background-color: $background
      padding: rem(110) rem(21) rem(50) rem(20)
    &--hide
      @include media-breakpoint-up(xl)
        display: none
    &__col
      width: 30%
      @include media-breakpoint-down(lg)
        width: 42%
    &__nothing
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      z-index: 15
      color: $light
      text-align: center
      .Link
        text-decoration: underline
        color: $light
      @include media-breakpoint-down(lg)
        color: $dark
        .Link
          text-decoration: underline
          color: $dark
    .Item
      @extend .button
      width: 100%
      padding-bottom: 18%
      img,
      .react-pdf__Document
        width: 100%
        height: auto
        @extend .d-flex-polyfill
        @extend .align-items-center
        // @extend .justify-content-center
        .react-pdf__Page__textContent
          @extend .d-none
      .react-pdf__message.react-pdf__message--loading
        width: 100%
        padding-top: 130%
        background-color: white
      &__close,
      &__prev,
      &__next
        display: none
      &--opened
        @extend .d-flex-polyfill
        @extend .align-items-center
        @extend .justify-content-center
        position: fixed
        z-index: 50
        top: 0
        right: 0
        width: calc(100vw - #{rem(433)})
        @include media-breakpoint-down(lg)
          width: 100%
        height: 100vh
        background-color: $preview-background
        padding: rem(100)
        @include media-breakpoint-down(lg)
          padding: rem(21)
        .Img
          max-width: 500px
          &--PDF
            position: relative
            &__atop
              color: white
              position: absolute
              z-index: 100
              top: 50%
              left: 50%
              transform: translate(-50%, -50%)
              font-size: rem(30)
              box-shadow: 0 0 100px rgba(0, 0, 0, .75)
              background-color: rgba(0, 0, 0, .25)
              border-radius: rem(100)
              padding: rem(35)
              white-space: nowrap
        .Item__close,
        .Item__prev,
        .Item__next
          display: block
          background-color: $light
          border: $border
          width: rem(50)
          height: rem(50)
          position: absolute
        .Item__close,
        .Item__next
          right: rem(50)
          @include media-breakpoint-down(lg)
            right: rem(20)
        .Item__next,
        .Item__prev
          background-image: url(./img/arrow-up-inline.svg)
          background-position: center
          background-repeat: no-repeat
          bottom: rem(50)
          @include media-breakpoint-down(lg)
            bottom: rem(20)
        .Item__close
          top: rem(50)
          @include media-breakpoint-down(lg)
            top: rem(20)
          background-image: url(./img/cross.svg)
          background-position: center
          background-repeat: no-repeat
        .Item__prev
          transform: rotate(-90deg)
          left: rem(50)
          @include media-breakpoint-down(lg)
            left: rem(20)
        .Item__next
          transform: rotate(90deg)
        .Link
          display: block
          width: 75%
  &__about-desktop
    cursor: pointer
    @include media-breakpoint-down(lg)
      display: none
    width: 100%
    border: $border
    margin-top: rem(5)
    &__title,
    &__browse
      width: 100%
      line-height: rem(50)
      position: relative
      &::after
        content: ''
        position: absolute
        top: 0
        right: 0
        width: rem(50)
        height: rem(50)
        background-position: center
        background-size: contain
        background-repeat: no-repeat
    &__title
      padding-left: rem(15)
      border-bottom: $border
      &::after
        background-image: url(./img/arrow-up.svg)
        transform: rotate(90deg)
    &__browse
      padding-left: rem(11)
      background-color: $light
      &::after
        background-image: url(./img/magnifier.svg)
        border-left: $border
        background-position: 40% 40%
        background-size: 135%






.Thanks
  width: 100%
  @extend .d-flex-polyfill
  @extend .flex-column
  @extend .align-items-center
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  @extend .px-4
  &__text
    text-align: center
    @extend .mb-5
  &__back
    @extend .button
    width: rem(250)
    background-color: $dark
    color: $light
    padding: rem(7) rem(15)
    text-align: center


.Privacy
  padding-top: rem(90)
  @include media-breakpoint-up(xl)
    padding-top: rem(117)
  padding-left: rem(49)
  padding-right: rem(49)
  @include media-breakpoint-down(lg)
    padding-left: rem(21)
    padding-right: rem(21)
  @media screen and ( max-width: 350px )
    padding-left: rem(9)
    padding-right: rem(8)



.Youtube
  width: 90%
  padding-top: calc(90% * 3 / 4)
  position: relative
  iframe
    @extend .abs-cover
  &__thumbnail
    width: 100%
    position: absolute
    top: 0
    left: 0

.vimeo
  width: 90%
  padding-top: calc(90% * 3 / 4)
  position: relative
  iframe
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0



.Help
  @include media-breakpoint-down(lg)
    width: 90%
  border: $border
  padding: rem(7) rem(10)
  background-color: $background
  @extend .d-flex-polyfill
  @extend .flex-column
  @extend .flex-lg-row
  @extend .align-items-center
  position: absolute
  bottom: -100%
  z-index: 20
  left: 50%
  transform: translateX(-50%)
  transition: bottom $menu-transition
  &--opened
    bottom: rem(20) !important
  &__text
    @extend .flex-grow-1-polyfill
  &__button
    @extend .button
    background-color: #474747
    color: $light
    padding: rem(4) rem(16)
    margin-left: rem(12)
    @include media-breakpoint-down(md)
      width: 100%
      margin-top: rem(12)