@import '~bootstrap/scss/bootstrap.scss'


$breakpoint-1024: 1024px


.desktop-only
  @media screen and ( max-width: $breakpoint-1024 )
    display: none
.mobile-only
  @media screen and ( min-width: $breakpoint-1024 + 1px)
    display: none

.noselect
  -webkit-touch-callout: none  /* iOS Safari */
  -webkit-user-select: none    /* Safari */
  -khtml-user-select: none     /* Konqueror HTML */
  -moz-user-select: none       /* Firefox */
  -ms-user-select: none        /* Internet Explorer/Edge */
  user-select: none            /* Non-prefixed version, currently supported by Chrome and Opera */

.button
  padding: 0
  cursor: pointer
  outline: none
  border: none
  background-color: rgba(0, 0, 0, 0)

*
  font-family: Arial, Helvetica, sans-serif
  margin: 0
  padding: 0
  box-sizing: border-box


// COLORS
$dark: #474747
$light: #F2F2F2
$start: #ECFF14

$saint-petersbourg: #BABFDD
$geneva: #98D8CB
$saint-petersbourg-highlight: #4056A1
$geneva-highlight: #00887A


.App
  @extend .d-flex
  @extend .flex-column
  overflow-x: hidden
  height: 100%
  *
    outline: none



.Map
  width: 100%
  height: 100%
  @extend .noselect
